#main-container{
	// margin: 150px auto;
	width: 770px;
  height:380px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top:20px;
}

body{
  margin: 0;
}

table{
  background-color: white;
  text-align: center;
  align-items: center;
}

#table-wrapper table {
  width:100%;

}

// .contenido{
//   height: 360px;
//   // display:inline-block;
//   // overflow-x: hidden;
//   width: 100%;
//   // overflow-y: auto;
// }

#table-wrapper {
  position:relative;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #246355;
	border-bottom: solid 5px #0F362D;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

// tr:hover td{
// 	background-color: #369681;
// 	color: white;
// }

.botones{
  display:flex;
  justify-content: center;
  margin: 20px;
}
